@charset "utf-8";
/* CSS Document */

.checkout
{
position:relative;
top:50px;
height:100px;
width:100%;
background:transparent;
left:0px;
clear:both;
}

.checkout_total
{
position:relative;
float:left;
margin:10px;
width:31%;
background:#0992D4;
height:80%;
border-radius:10px;
margin-left:25px;
}

.checkout_form
{
position:relative;
float:left;
margin:10px;
width:31%;
background:#0992D4;
height:80%;
border-radius:10px;
}

.checkout_submit
{
position:relative;
float:left;
margin:10px;
width:31%;
background:#0992D4;
height:80%;
border-radius:10px;
}

.checkout_submit:hover
{
cursor:pointer;
background:#003549;
color:white;
}